# .env

key=<YOUR_GOOGLE_OAUTH_KEY>
secret=<YOUR_GOOGLE_OATH_SECRET>

domain=http://localhost:8084 # change this to your domain
path.callback=callback # change this to your route. much match path

iam.type=gcp
iam.project=<YOUR_PROJECT>
